{% extends 'base.html' %}

{% block title %}Set your request{% endblock %}

{% block content %}

<div class="card mt-4">
    <div class="card-header">
        Request Details
    </div>

    <div class="card-body">

        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="" enctype="multipart/form-data">

            {{ form.csrf_token }}
            {{ render_field(form.user_photo, class="form-control-file") }}
            {{ render_field(form.content, class="form-control") }}
            {{ render_field(form.price, class="form-control") }}

            {{ form.submit(class="btn btn-outline-secondary") }}

        </form>

    </div>

</div>

{% endblock %}