<div class='card card-profile text-center mt-4'>
    <h5 class="card-header"></h5>
    <div class='card-body'>
        <img alt='' class='card-img-profile' width="128" height="128"
             src="{{ url_for('static', filename='image/photos/' + current_user.profile_image) }}">
        <h5 class="card-title"><a href="{{url_for('user_page.user_post', user_id=current_user.id) }}">{{ current_user.name }}</a></h5>
        <p class="card-text text-muted mb-4">{{ current_user.posts | length }} posts</p>
    </div>
</div>